python-dotenv
tqdm
requests
numpy

pypdf

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

pinecone
langchain-pinecone

streamlit
sentence-transformers
torchvision
